.footer {
  background-color: #2f303a;
  padding: 60px 0;
  display: flex;
  align-items: center;
  gap: 60px;
}
.contact {
  @media screen and (min-width: 768px) {
    margin-top: 28px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 20px;
  }
}

.footer-wrapper {
  display: flex;
  // padding-top: 90px;
  // padding-bottom: 90px;
  align-content: center;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-between;
  }
}
.footer-contacts {
  @media screen and (max-width: 768px) {
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    display: block;
  }
}
.footer-text {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  vertical-align: top;
  color: var(--white-color);
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.footer-items {
  @media screen and (max-width: 768px) {
    margin-top: 0px;
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.foot-soc-item {
  width: 44px;
  height: 44px;
}
.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;

  @media screen and (min-width: 1200px) {
    margin: 0;
  }
}
.foot-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  align-items: center;
  justify-content: center;
  transition: background-color 250ms var(--cubic-bezier);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
.foot-wrap {
  display: flex;
  justify-content: center;
  // align-items: center;
  flex-direction: column;
  margin-top: 60px;

  @media screen and (min-width: 1200px) {
    margin-top: 0;
    // display: block;
    // position: relative;
    // margin-left: auto;
    // align-items: baseline;
  }
}

.footer-input {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  margin-top: 20px;
  @media screen and (min-width: 1200px) {
    gap: 12px;
    align-items: baseline;
    position: relative;
    flex-direction: row;
  }
}

.foot-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  // min-width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: var(--white-color);
  padding-left: 16px;
  cursor: pointer;
  transition: border-color 250ms var(--cubic-bezier);
  &:hover,
  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
  @media screen and (min-width: 768px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
    padding-left: 16px;
  }
}
