.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
  color: var(--pimary-text-color);
}
.section-clients {
  margin: 0;
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio {
  display: flex;
  justify-content: center;
  gap: 8px;

  margin-bottom: 50px;
  align-items: center;
}
